.btn{
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 14px;
}

.default {
    background-color: #e0e0e0;
    color: black;
    box-shadow: 0px 3px 3px #dbdbdb;
}
.default:hover {background: #aeaeae;}

.default:focus {background: #aeaeae;}

.outline {
    border: 2px solid #3d5afe;
    background-color: white;
    color: #3d5afe;
    cursor: pointer; 
}
.outline:hover{
    border: 2px solid #3d5afe;
    background-color: #eaefff;
    color: #3d5afe;
}

.outline:focus {
    background-color: #eaefff;
}

.text{
    color: #3d5afe;
    cursor: pointer; 
}
.text:hover{
    color: #3d5afe;
    background-color: #eaefff;
}

.text:focus{
    background-color: #eaefff;
}


.disableShadow{
    background-color: #3d5afe;
    color: white;
}
.disableShadow:hover{
    color: white;
}

.disableShadow:focus {
    color: white;
}

.disabled {
    background-color: rgb(201, 201, 201);
}

.startIcon,.endIcon {
    height: 30px;
    background-color: #2962FF;

    color: white;
    padding: 2px 15px;
}


.cDefault {
    color:black;
    background-color: #E0E0E0;

}

.cDefault:hover,.cDefault:focus {
    color: black;
    background-color: #AEAEAE;
}

.cPrimary {
    color: white;
    background-color: #2962FF;
;
}

.cPrimary:hover,.cPrimary:focus {
    color: white;
    background-color: #0039CB;

}

.cSecondary {
    color: white;
    background-color: #455A64;

}   

.cSecondary:hover,.cSecondary:focus {
    color: white;
    background-color: #1C313A;
}

.cDanger {
    color: white;
    background-color: #D32F2F;
}

.cDanger:hover,.cDanger:focus  {
    color: white;
    background-color: #9A0007;
}